include PyGeopack/__data/libgeopackdp/*.c
include PyGeopack/__data/libgeopackdp/*.f
include PyGeopack/__data/libgeopackdp/*.f95
include PyGeopack/__data/libgeopackdp/*.h
include PyGeopack/__data/libgeopackdp/makefile
include PyGeopack/__data/libgeopackdp/libgeopackdp.so
include PyGeopack/__data/libgeopackdp/test
include PyGeopack/__data/libgeopackdp/testsandhucoords
